.header-manage{ 
    &:hover{
        text-decoration: none; 

        .text{
            text-decoration: underline;
        }
    }
}

.ui-search{
    position: relative; 
    z-index: 1000; 
    width: 250px; 
    margin: 0 auto; 
    color: #555;

    .container{ 
        input{
            width: 163px; 
        }
    }

    &.has-text{
        .container{
            input{
                width: 170px;
            }
        } 
        .clear{
            display: block !important;
        }
    }
    input{ 
        width: 100%; 
        padding: 0; 
        height: 20px; 
        font-size: 14px; 
        line-height: 1; 
        border: none; 

        &:focus{
            outline: none; background-color: #fff;
        }

        &.submit{
            position: absolute; 
            top: 0; 
            right: 0; 
            width: 50px; 
            height: 28px; 
            background-color: #becad7; 
            background-position-x: 10px; 
            border: none; 
            cursor: pointer;

            &:hover{
                background-color: #ced7e1;
            }

            &.ab-odd{
                background-color: #0096DB; 

                &:hover{
                    background-color: #40b0e4;
                }
            }
        }
    }

    div{
        &.container{
            border-radius: 5px 0 0 5px; 
            width: 212px; 
            height: 20px; 
            padding: 3px 5px; 
            background-color: #fff; 
            border: 1px solid #becad7; 
            border-right: none;

            div{
                &.clear{
                    display: none; 
                    position: absolute; 
                    top: 4px; 
                    right: 31px; 
                    width: 20px; 
                    height: 20px; 
                    background: url("../img/search.png") no-repeat 50% 50%; 
                    cursor: pointer; 
                    opacity: 0.75;

                    &:hover{
                        opacity: 1; 
                    }
                }
            }
        }
    }
}

.global-header{
    background-color: #fff;
    border-bottom: 1px solid #d6dee5;
    color: #258fb8;

    .layout-wrapper{
        position: relative; 
        width: 970px; 
        height: 115px; 
        margin: 0 auto;
    }

    .title{
        position: absolute; 
        top: 12px;

        .header-logo{
            height: 50px; 
            width: 180px; 
            background-image: url('../img/logo.png'); 
            background-repeat: no-repeat;
            background-size: contain;
        }
    }

    .link-list{
        position: absolute;
        top: 8px;
        right: 0;

        .link-item{
            display: inline;

            & > a{
                display: inline-block;
                line-height: 26px;
            }

            & + .link-item{
                margin-left: 12px;
            }
        }

        .settings-menu{ 
            display: inline-block; 
            position: relative; 
            text-align: left; 
            line-height: 26px; 
            cursor: pointer; 

            &:hover .items{ 
                display: block; 
            }

            .items{ 
                display: none; 
                z-index: 10000; 
                position: absolute; 
                right: 0; 
                margin: -1px auto 0; 
                text-align: left; 
                width: 148px; 
                background-color: #fff; 
                border: 1px solid #becad7; 
                outline: 1px solid #fff; 

                &:hover{
                    display: block;
                }
            }

            .item{ 
                display: block; 
                margin: 0; 
                padding: 0 9px; 
                line-height: 2; 
                color: #777; 
                border-left: none !important; 
                border-right: none !important; 
                font-size: 12px; 
                cursor: pointer; 
            }

            .premium{ 
                color: #fb6e07; 
            }
        }
    }

    .nav-list{
        position: absolute; 
        display: flex; 
        align-items: center; 
        justify-content: flex-start; 
        bottom: 8px; 
        left: 0; 
        font-size: 15px; 
        line-height: 20px;

        .notifications{ 
            position: static; 
        }

        .notifications.new-version{ 
            .message{
                margin: 0;
            }

            .popboard{ 
                margin: 0 0 0 4px; 
            }
        }

        .menus{ 
            li{
                margin-right: 2px; 

                a{ 
                    display: flex; 
                    align-items: center; 
                }
            }
        }

        .menus, .notifications 
        { 
            display: flex; 
        }

        .menus{
            li{
                display: block; 
                padding-left: 0; 
                margin-right: 16px;

                &.upload{ 
                    display: flex; 
                }

                .menu-icon{ 
                    margin-right: 2px; 
                    width: 24px; 
                    height: 24px; 
                    background-repeat: no-repeat; 
                    background-position: center center; 

                    &.icon-home{ 
                        background-image: url('../img/homepage.png'); 
                        background-size: contain;
                    }

                    &.icon-upload{ 
                        background-image: url('../img/submit.png'); 
                        background-size: contain;
                    }

                    &.icon-bookmark{ 
                        background-image: url('../img/Bookmark.png'); 
                        background-size: contain;
                    }

                    &.icon-feed{ 
                        background-image: url('../img/feed.png'); 
                        background-size: contain;
                    }
                }

                & > a 
                { 
                    &.current{
                        font-weight: bold; 
                        color: #333; 
                    }
                    & + a{ 
                        border: none; 
                        margin: 0; 
                        padding: 0; 

                        &::before{
                            content: ''; 
                            display: inline-block; 
                            height: 14px; 
                            vertical-align: -2px; 
                            padding-left: 4px; 
                            margin-left: 4px; 
                            border-left: 1px solid #eee;
                        }
                    }   
                }
            }
        }
    }

    .nav-menu-right{
        position: absolute; 
        display: flex; 
        right: 0; 
        bottom: 8px;

        .menu-group{
            display: flex; 
            border-radius: 4px; 
            padding: 6px 12px; 
            text-align: center; 
            background-color: #f2f4f6;

            & + .menu-group{
                margin-left: 8px;
            }

            .menu-item{
                display: flex; 
                align-items: center; 
                font-size: 14px;

                &:hover{
                    color: #005373; 
                    text-decoration: none;
                }

                &.current{ 
                    color: #333; 
                    font-weight: bold; 
                }
            }

            .gallery-icon{
                width: 19px; 
                height: 19px; 
                margin-right: 4px;
            }

            .discovery-icon{
                width: 19px;
                height: 19px; 
                margin-right: 2px;
            }

            .contact-icon{
                width: 19px;
                height: 19px; 
                margin-left: 10px;
                margin-right: 2px;
            }

            .label{ 
                line-height: 18px; 
            }
        }
    }

    .ui-search{
        position: absolute; 
        right: 0; 
        bottom: 46px; 
        width: 224px;
    }

    .ui-search.has-text .container input{ 
        width: 166px; 
    }

    .ui-search{
        .container{  
            border-radius: 0; 
            width: 186px; 
        }
    }
}