.work{
    display: inline-block !important;
    position: relative;
    margin-bottom: 7px;

    &::before{
        box-shadow: inset 0 0 0 1px rgba(0,0,0,.05);
    }

    &.ugoku-illust:after, &::before{
        content:"";
        position:absolute;
        top:0;
        left:0;
        width:100%;
        height:100%
    }

    &.ugoku-illust::after{
        background-position:50%;
        background-image:url('');
        background-repeat:no-repeat
    }
}

.thumbnail{
    padding: 0;
    vertical-align: middle;
    border: none;
    position: relative;
}

.layout-thumbnail{
    display:inline-block;
    cursor:pointer;

    .thumbnail{
        position: static;
    }
}